<!DOCTYPE html>
<html>

<head data-th-replace="~{fragment/head :: head}">
    <title></title>
</head>

<body>

    <div id="wrapper">
        <nav data-th-replace="~{fragment/navigation :: navigation}"></nav>
    </div>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" data-th-text="#{pageheader.dashboard}">Dashboard</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span data-th-text="${parameter}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span data-th-text="${#authentication.getPrincipal().getUsername()}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            </div>
        </div>

        <footer data-th-replace="~{fragment/footer :: footer}"></footer>

        <div data-th-replace="~{fragment/scripts :: scripts}"></div>

    </div>

</body>

</html>