<div data-th-fragment="news-list">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" data-th-text="'Total ' + ${news.size()} + ' records'">
                    Total xx records
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table table-responsive table-striped" id="datatables-news">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-th-each="item : ${news}">
                            <td data-th-text="${item.getId()}"></td>
                            <td data-th-text="${item.getTitle()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script data-th-fragment="inlinejs">
        $(document).ready(function() {
            $('#datatables-news').DataTable();
        });
</script>
