<!DOCTYPE html>
<html>

<head data-th-replace="~{fragment/head :: head}">
    <title></title>
</head>

<body>

<div id="wrapper">
    <nav data-th-replace="~{fragment/navigation :: navigation}"></nav>
</div>

<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" data-th-text="#{pageheader.newslist}">News List</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" data-th-text="#{total.records(${news.size()})}">
                    Total xx records
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-striped" id="datatables-news">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th data-th-text="#{news.title}">Title</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-th-each="item : ${news}">
                            <td><a href="#" data-th-text="${item.getId()}" data-th-href="@{'/news/' + ${item.id}}" ></a></td>
                            <td data-th-text="${item.getTitle()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer data-th-replace="~{fragment/footer :: footer}"></footer>

</div>


<div data-th-replace="~{fragment/scripts :: scripts}"></div>


<script type="text/javascript" rel="script" data-th-inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function() {
            $('#datatables-news').DataTable();

            var message = /*[[${message}]]*/ 'default';
            if (message != null) {
                toastr.success(message);
            }
        });

    /*]]>*/
</script>

</body>
</html>
