<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <footer class="row" data-th-fragment="footer">
        <div class="col-md-12">
        <hr />
        <span class="pull-left">
                <i class="fa fa-book fa-fw"></i>
                <a href="https://docs.spring.io/spring-boot/docs/2.0.0.RELEASE/reference/html/index.html" target="_blank">Docs</a>
            </span>
        <span class="pull-right">Development 2018 - <a href="mailto:ebusinesslabs@gmail.com">Ebusiness Lab</a></span>
        </div>
    </footer>

</body>
</html>