<!DOCTYPE html>
<html lang="en">

    <head data-th-fragment="htmlhead">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <!-- Bootstrap Core CSS -->
        <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

        <!-- MetisMenu CSS -->
        <link href="/node_modules/metismenu/dist/metisMenu.min.css" rel="stylesheet" type="text/css"/>

        <!-- DataTables CSS -->
        <link href="/node_modules/datatables/media/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="/css/sb-admin-2.css" rel="stylesheet" type="text/css"/>

        <!-- Custom Fonts -->
        <link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Toastr -->
        <link href="/node_modules/toastr/build/toastr.css" rel="stylesheet" type="text/css" />

        <!-- Summernote -->
        <link href="/node_modules/summernote/dist/summernote.css" rel="stylesheet">

        <!-- Select2 -->
        <link href="/node_modules/select2/dist/css/select2.min.css" rel="stylesheet">
    </head>

    <body>

    </body>

</html>