<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" data-th-fragment="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Spring Boot Demo</a>
    </div>
    <!-- /.navbar-header -->
    <div data-th-switch="${#authorization.expression('isAuthenticated()')}" >
        <div data-th-case="true">
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> <span data-th-text="#{menu.userprofile}">User Profile</span></a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#" onclick="document.getElementById('logout-form').submit();"><i
                                class="fa fa-sign-out fa-fw"></i> <span data-th-text="#{login.logout}">Logout</span></a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </div>
        <div data-th-case="false">
            <ul class="nav navbar-top-links navbar-right">
                <li><a href="#" data-th-href="@{/login}">Login</a></li>
            </ul>

        </div>
    </div>
    <!-- /.navbar-top-links -->
    <form method="post" action="#" data-th-action="@{/logout}" id="logout-form"></form>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search..."/>
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> <span data-th-text="#{menu.dashboard}"> Dashboard</span></a>
                </li>
                <li>
                    <a href="/news"><i class="fa fa-newspaper-o fa-fw"></i> News</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

</body>
</html>