<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagination</title>
</head>
<body>

<ul class="pagination" data-th-fragment="pagination (items)">
    <li data-th-class="${items.number eq 0 ? 'disabled' : ''}">
        <a data-th-if="${items.number eq 0}" href="javascript:void(0)">&lt;&lt;</a>
        <a data-th-if="${items.number gt 0}" href="?page=0">&lt;&lt;</a>
    </li>
    <li data-th-class="${items.number eq 0 ? 'disabled' : ''}">
        <a data-th-if="${items.number eq 0}" href="javascript:void(0)">&lt;</a>
        <a data-th-if="${items.number gt 0}" data-th-href="'?page=' + ${items.number - 1}">&lt;</a>
    </li>
    <li data-th-each="page : ${#numbers.sequence(minpage,maxpage)}" data-th-class="${ items.number eq page } ? 'active' : '' ">
        <a href="" data-th-href="'?page=' + ${page}" data-th-text="${page + 1}">1</a>
    </li>
    <li data-th-class="${items.number eq items.totalPages - 1 ? 'disabled' : ''}">
        <a data-th-if="${items.number eq items.totalPages - 1}" href="javascript:void(0)">&gt;</a>
        <a data-th-if="${items.number lt items.totalPages - 1}" data-th-href="'?page=' + ${items.number + 1}">&gt;</a>
    </li>
    <li data-th-class="${items.number eq items.totalPages - 1 ? 'disabled' : ''}">
        <a data-th-if="${items.number eq items.totalPages - 1}" href="javascript:void(0)">&gt;&gt;</a>
        <a data-th-if="${items.number lt items.totalPages - 1}" data-th-href="'?page=' + ${items.totalPages - 1}">&gt;&gt;</a>
    </li>
</ul>

</body>
</html>