<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div data-th-fragment="scripts">
    <!-- jQuery -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/node_modules/metismenu/dist/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/sb-admin-2.js"></script>

    <!-- Toastr -->
    <script src="/node_modules/toastr/build/toastr.min.js"></script>

    <!-- Summernote -->
    <script src="/node_modules/summernote/dist/summernote.min.js"></script>
    <script src="/node_modules/summernote/lang/summernote-el-GR.js"></script>

</div>

</body>
</html>